<a href="https://colab.research.google.com/github/KISAN-DATA-ANALYST/-KISAN-DATA-ANALYST-CAL-https-colab.research.google.com-drive-1H574-M4NrVVOnpP-cqh3mZe6l3JLrw5q-/blob/main/Indian_by_Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indian by Heart_Revenue Analysis

This dataset captures detailed information about a collection of videos published by "Indian by Heart" channel, on a popular streaming platform. We will be using this data to analyse the given data using SQL query. To understand the dataset, you have been provided with the following data dictionary:

| Column Name        | Description                                         | Example   |
|--------------------|-----------------------------------------------------|-----------|
| id                 | Unique identifier for each video                    | 911       |
| title              | Title of the video                                  | Life of a Bollywood Stuntman |
| publish_day        | Day of the month when the video was published       | 24        |
| publish_month      | Month when the video was published                  | 4         |
| publish_year       | Year when the video was published                   | 2021      |
| video_type         | Type of the video (e.g., Shorts, Long)              | Shorts    |
| duration_seconds   | Duration of the video in seconds                    | 861       |
| view               | Number of views the video received (in thousands)   | 847.173   |
| like               | Number of likes the video received (in thousands)   | 28.765    |
| comment            | Number of comments on the video (in thousands)      | 1.289     |
| impression         | Number of impressions the video received (in thousands) | 1541.855 |
| revenue            | Revenue generated by the video (in thousands)       | 69.383    |

In [ ]:
import pandas as pd
import sqlite3
import requests

# URL of the CSV file on GitHub
url = 'https://raw.githubusercontent.com/Invact-Abhay/SQL/main/SQLC2.csv'

# Download the CSV file
response = requests.get(url)
with open('ytdata.csv', 'wb') as file:
    file.write(response.content)

# Load the CSV file into a pandas DataFrame
data = pd.read_csv('ytdata.csv')

# Create a SQLite database (or connect to an existing one)
conn = sqlite3.connect('ytdata.db')

# Load the DataFrame into the SQLite database
data.to_sql('ytdata', conn, if_exists='replace', index=False)

246

**Task 1**

Retrieve the ytdata data using SQL query.

# Aggregate Functions

**Task 2**

Retrieve the unique publish year for ytdata using SQL query.

**Task 3**

Find the total revenue earned.

**Task 4**

Find the title of the video in the ytdata dataset with the maximum duration in seconds.

**Task 5**

Find the title of the video in the ytdata dataset with the maximum duration in minutes. Name the maximum duration header as MaxDurationMin

**Task 6**

Find the title of the video in the ytdata dataset with the minimum duration in seconds.

**Task 7**

Find the total numbers of videos uploaded using count function. Name the header as VideoCount

**Task 8**


Find the total number of unique titles to ensure no duplicates exist. Name the header as DistinctVideoCount

**Task 9**

Find the average video duration in minutes.

**Task 10**

Find the average video duration in minutes. Name the header as AvgDurationMin

# GROUP BY ( One column & Two column )

**Task 11**

Using SQL query, retrieve the total revenue for each year from a ytdata table and name the revenue column as  revenue_earned

**Task 12**

Using an SQL query, retrieve the total revenue for each year and each video type from the ytdata table.

Name the revenue column as  revenue_earned, and order the results by publish_year and video_type both in ascending order.

**Task 13**

Using SQL query, retrieve the video published numbers for each year from a ytdata table

and name the video published numbers column as video_published

**Task 14**

Using SQL query, retrieve the total revenue for each month of year 2021 from a ytdata table.

Columns to be added - month , year, and revenue.

Name of the revenue column should be  revenue_earned.

**Task 15**

Using SQL query, retrieve the total views for each month in the year 2020 for videos of type 'Shorts' from ytdata table.

Columns to be added - month ,video type, year and views.

Name of the views column should be total_views.

Filters to be added - year and video type.

# HAVING

**Task 16**

Using SQL query, retrieves the total views for each month from ytdata table and only includes months where the monthly total views exceed 10,000 thousand

Columns to be added - month and views.

Name of the views column should be total_views.

Filters to be added - view.

**Task 17**

Using SQL query, retrieves the total impression for each year from ytdata table and only includes years where the yearly total impression is less than 1,000 thousand

Columns to be added - year and impression.

Name of the impression should be total_impression.

**Task 18**


Using SQL query, retrieve the total video duration for each year from ytdata table of Long video type .

It should only include years where the yearly total video duration is less than 20000 seconds

Columns to be added - publish year and video duration.

Name of the video duration column should be video_duration_in_sec.